* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.7%;
  position: fixed;
  z-index: 111;
}

nav .logo img {
  height: 50px;
  width: 170px;
}

.last-nav {
  padding-right: 2%;
}

nav .center-nav,
.last-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.center-nav a,
.last-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

.last-nav a:hover {
  cursor: pointer;
  color: #726d6d;
}

.center-nav a:hover {
  cursor: pointer;
  color: #726d6d;
}

/* Hero sec */

.hero-sec {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.hero-sec img {
  padding-top: 1%;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.hero-info {
  position: absolute;
  top: 25%;
  left: 3%;
}

.hero-info h1 {
  color: #fff;
  font-family: "Playfair Display", sans-serif;
  font-size: 3.9rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.hero-info p {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}

.hero-info .hero-btns {
  display: flex;
  gap: 3%;
  margin-top: 4%;
}

.hero-btns button {
  padding: 1rem 2rem;
  outline: none;
  background-color: transparent;
  background: rgb(255, 91, 93);
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: all 0.4s ease;
}

.hero-btns button:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 127);
}

.hero-btns button:first-child {
  padding: 15px 80px;
}

/* how-to-work-sec */

.how-to-work-sec {
  min-height: 100%;
  width: 100%;
}

.how-to-work-sec h2 {
  font-size: 2rem;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  padding-top: 3%;
}

.work-container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 3rem;
}

.work-item {
  margin-top: 3%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-item img {
  height: 180px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  display: inline-block;
  margin-bottom: 1%;
  transform: scale 0.9s ease-in;
}

.work-item img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.work-item h4 {
  margin-top: 1%;
  font-size: 1.3rem;
  margin-bottom: 1%;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.work-item p {
  margin-top: 1%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.clb-btn {
  margin-top: 3%;
}

.join_clb {
  font-size: 1.2rem;
  padding: 0.7rem 3rem;

  outline: none;
  background-color: transparent;
  background: rgb(255, 91, 93);
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: background-color 0.4s ease;
}

.join_clb:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 127);
}

/* one-place-sec */

.one-place-sec {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

.one-place-sec h2 {
  padding-top: 3%;
  padding-bottom: 2%;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.lifeStyleProducts-Container {
  display: inline-block;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 3%;
}

.lifeStyleProducts-Container::-webkit-scrollbar {
  display: none;
}

.life-style-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.life-style-product img {
  cursor: pointer;
  height: 250px;
  width: 250px;
  display: inline-block;
  transition: transform 0.8s ease;
}

.life-style-product img:hover {
  transform: scale(1.03);
}

.life-style-product h4 {
  margin-top: 3%;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.onePlace-btn {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

.onePlace-btn button {
  font-size: 1.2rem;
  padding: 0.7rem 3rem;
  outline: none;
  background-color: transparent;
  background: rgb(255, 91, 93);
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: background-color 0.4s ease;
}

.onePlace-btn button:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 127);
}

/*  over-million-sec */

.over-million-sec {
  min-height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
  position: relative;
  background-color: #ede7e0;
}

.over-million-sec img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.trust-sec {
  position: absolute;
  top: 7%;
  left: 5%;
}

.trust-sec::-webkit-scrollbar {
  display: none;
}

.trust-sec h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  line-height: 2.7rem;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.trust-sec .info {
  display: flex;
  align-items: stretch;
  /* flex-grow: 1; */
  background-color: #ffffff;
  margin-bottom: 2%;
  gap: 3rem;
  padding: 1.2%;
  border: 1px solid #222222;
  cursor: pointer;
}

.info > p {
  color: #000;
  padding-left: 3rem;
  padding-top: 1rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.info-style strong {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
}

.info-style p {
  margin-top: 1.4%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
}

.info .terms a {
  text-decoration: none;
  color: #979292;
}

.info .terms a span {
  text-decoration: underline;
}

.clb-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clb-btn2 button {
  font-size: 1.2rem;
  padding: 0.7rem 3rem;
  outline: none;
  background-color: transparent;
  background: rgb(255, 91, 93);
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: background-color 0.4s ease;
}

.clb-btn2 button:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 127);
}

/* Featuring Section */

.featuring-sec {
  min-height: 100%;
  width: 100%;
  background-color: #ede7e0;
  margin-top: 0;
}

.featuring-sec h2 {
  padding-top: 2rem;
  margin-bottom: 1%;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.featuring-sec p {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

.feature-productContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-top: 2rem;
  align-items: stretch;
  overflow-x: auto;
}

.feature-productContainer::-webkit-scrollbar {
  display: none;
}

.feature-product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  align-items: stretch;
}

.feature-product img {
  background-color: #fff;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1.3rem;
  padding: 1%;
  display: inline-block;
  transition: transform 0.5s ease;
}

.feature-product img:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.feature-product h4,
p {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  padding: 1%;
}

.get-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding-bottom: 2%;
}

.get-btn button {
  font-size: 1.2rem;
  padding: 0.7rem 3rem;
  outline: none;
  background-color: transparent;
  background: rgb(255, 91, 93);
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: background-color 0.4s ease;
}

.get-btn button:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 127);
}

/* weekly products Sec */
.weekly_drops_sec {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
}

.weekly_drops_sec h2 {
  padding-top: 2rem;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.weekly_drops_sec p {
  font-family: "Nunito Sans", sans-serif;
  padding-top: 1%;
  text-align: center;
}

.weekly_prodcts_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-top: 2%;
  align-items: stretch;
  overflow-x: auto;
}

.weekly_prodcts_container::-webkit-scrollbar {
  display: none;
}

.weekly-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3%;
  align-items: stretch;
  flex-grow: 1;
  cursor: pointer;
}

.weekly-product img {
  height: 270px;
  width: 250px;
  object-fit: cover;
  object-position: center;
}

.weekly-product h3,
p,
strong {
  padding-top: 1%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  padding: 1%;
}

.weekly-product h3 {
  padding-top: 3%;
}

.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  padding: 2%;
}

.start-btn button {
  font-size: 1.2rem;
  padding: 0.7rem 3rem;
  outline: none;
  background-color: transparent;
  background: rgb(255, 91, 93);
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: background-color 0.4s ease;
}

.start-btn button:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 127);
}

/* Deals and memebers sec  */
.deal-memebers-sec {
  min-height: 100%;
  width: 100%;
  background-image: url("./assets/photos/bg-deals-memebers-sec.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deal-memebers-sec h2 {
  padding-top: 2rem;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.deal-memebers-sec p {
  font-family: "Nunito Sans", sans-serif;
  padding-top: 1%;
  text-align: center;
}

.head {
  background-color: #e9e3dc;
}

/* track-container */
.track-container {
  height: 30%;
  background-color: #e9e3dc;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 0.3%;
}

.track-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.track-item img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 3%;
}

.track-item h4,
p {
  padding-top: 1%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  padding: 1%;
}

.join-btn-deals {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e3dc;
  padding-bottom: 1%;
}

.join-btn-deals button {
  font-size: 1.2rem;
  padding: 0.7rem 3rem;
  outline: none;
  background-color: transparent;
  background: rgb(255, 91, 93);
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: background-color 0.4s ease;
}

.join-btn-deals button:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 127);
}

/* plan section */
.plan {
  min-height: 100%;
  width: 100%;
  background-image: url("./assets/photos/replica_background_image_exact.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 3rem; */
}

.plan-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.plan-heading h2 {
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.plan-heading p {
  font-family: "Playfiar Display", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.pricing{
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* gap: 4%; */
  margin: 0 auto;
  margin-top: 3%;
  max-width: 80%;

}

.pricing .annual, .sessional{
  height: 450px;
  width: 40%;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 10px solid 
  #fb6a66;
  padding: 2%;
  border-radius: 15px;
  transition: 0.5s ease;
}

.sessional{

  border: 10px solid 
  transparent;
}

.annual .best-value{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Playfair Display", sans-serif;
}

.best-value h2{
font-size: 2rem;
font-weight: 400;
margin-bottom: 1%;
}

.annual> p:nth-child(2){
  color: #fb6a66;
  /* margin: 2% 0; */
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
}

.annual> p:nth-child(3){
color:#290000;
text-align: left;
}

.annual> p:nth-child(3) span{
  font-size: 2rem;
  font-weight: 600;
}

.annual> p:nth-child(4){
  text-align: left;
  margin-bottom: 1%;
}

.best-value div{
  background-color: 
  #68ada1;
  color: #fff;
  height: 2rem;
  width: 9rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 900;
}


.sessional h2{
  font-size: 2rem;
font-weight: 400;
margin-bottom: 1%;
}


.annual p, ul li{
  font-family: "Nunito Sans", sans-serif;
}

.annual ul, .sessional ul{
  margin-top: 2%;
list-style: none;
}

.annual ul li, .sessional ul li{
  margin-bottom: 2%;
color: 
#290000;
font-size: 1.2rem;}

.annual li svg, .sessional li svg{
  margin-right: 2%;
}

.sessional ul .cross{
  text-decoration: line-through;
}

.sessional p:nth-child(2){ 
  color: #717171;
  text-align: left;
  font-size: 1.1rem;
}

.sessional p:nth-child(3){
  text-align: left;
  margin-bottom: 18%;
}