* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.7%;
  position: fixed;
  z-index: 111;
}

nav .logo img {
  height: 50px;
  width: 170px;
}

.last-nav {
  padding-right: 2%;
}

nav .center-nav,
.last-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.center-nav a,
.last-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

.last-nav a:hover {
  cursor: pointer;
  color: #726d6d;
}

.center-nav a:hover {
  cursor: pointer;
  color: #726d6d;
}

/* Hero sec */

.hero-sec {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.hero-sec img {
  padding-top: 1%;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.hero-info {
  position: absolute;
  top: 25%;
  left: 3%;
}

.hero-info h1 {
  color: #fff;
  font-family: "Playfair Display", sans-serif;
  font-size: 3.9rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.hero-info p {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}

.hero-info .hero-btns {
  display: flex;
  gap: 3%;
  margin-top: 4%;
}

.hero-btns button {
  padding: 1rem 2rem;
  outline: none;
  background-color: transparent;
  background: rgb(255, 91, 93);
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: all 0.4s ease;
}

.hero-btns button:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 127);
}

.hero-btns button:first-child {
  padding: 15px 80px;
}

/* how-to-work-sec */

.how-to-work-sec {
  min-height: 100%;
  width: 100%;
}

.how-to-work-sec h2 {
  font-size: 2rem;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  padding-top: 3%;
}

.work-container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 3rem;
}

.work-item {
  margin-top: 3%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-item img {
  height: 180px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  display: inline-block;
  margin-bottom: 1%;
  transform: scale 0.9s ease-in;
}

.work-item img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.work-item h4 {
  margin-top: 1%;
  font-size: 1.3rem;
  margin-bottom: 1%;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.work-item p {
  margin-top: 1%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.clb-btn {
  margin-top: 3%;
}

.join_clb {
  font-size: 1.2rem;
  padding: 0.7rem 3rem;

  outline: none;
  background-color: transparent;
  background: rgb(255, 91, 93);
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: background-color 0.4s ease;
}

.join_clb:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 127);
}
